

<!--HOME SECTION START-->
<div id="home">  
    <br />
    <br />
    <div class="col-md-offset-3 hidden-xs row" id="DateCountdown" data-date="2016-05-07 00:00:00" style="width: 100%;height:150px;"></div>
    <div class="row">
 <div class="col-md-6">
            <div class="row">
               <h2 style="font-family: 'Lobster', cursive;">Venue</h2><h3 style="font-family: 'Cabin', Helvetica, Arial, sans-serif;">Somewhere in Okahandja</h3>
            </div>
            <div class="row">
                <h2 style="font-family: 'Lobster', cursive;">Date</h2><h3 style="font-family: 'Cabin', Helvetica, Arial, sans-serif;">7th - 8th of March</h3>
            </div>
            <div class="row">
                <h2 style="font-family: 'Lobster', cursive;">Cost</h2><h3 style="font-family: 'Cabin', Helvetica, Arial, sans-serif;">NAD220.00</h3>
            </div>
     <div class="row">
         <h2 style="font-family: 'Lobster', cursive;">Level</h2><h3 style="font-family: 'Cabin', Helvetica, Arial, sans-serif;">Beginner - Intermediate</h3>
     </div>
 </div>
        <div class="col-md-6">
            <img src="~/assets/img/poster.png" width="600" height="505" />
        </div>
    </div>
    
    <br />


</div>

<section id="details" style="text-align:center">
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>DETAILS</h3>
                <hr />
            </div>
        </div>
        <div class="row custom-div-row-top">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
               <!-- <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">-->
                 
                <div class="row  animate-in " data-anim-type="fade-in-up">
                    <h3>
                        C# CODING BOOTCAMP / CRASH COURSE
                    </h3>
                    <p>
                        Are you struggling with computer programming?
                        <br />
                        Do you have an interest in programming but you are not sure where or how to begin?
                    </p>
                </div>

                <div class="row  animate-in " data-anim-type="fade-in-up">
                    <h3>
                        THEN THIS COURSE IS FOR YOU !!
                    </h3>
                    <p>
                        We are inviting you to be a participant in a three session programming course that will teach you about the fundamentals of writting programs using C# language.
                    </p>
                </div>
  
                <!-- </div>-->
            </div>
        </div>
        <div class="row animate-in custom-div-row-bottom" data-anim-type="fade-in-up">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                    <p>
                    ONLY A LIMITED NUMBER OF SPOTS ARE AVAILABLE.
                    <br />
                     REGISTER NOW AND PAY TO BOOK YOUR SPOT.
                     </p>
                <div class="social">
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-facebook "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-google-plus "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-linkedin "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-github "></i></a>
                </div>
                <a href="#services" class=" btn button-custom btn-custom-two">REGISTER</a>
            </div>
        </div>
    </div>
</section>
<!--HOME SECTION END-->
<!--REQUIREMENTS SECTION START-->
<section id="requirements">
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>FAQ's</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                    <!-- <center><i class="ion-cash"></i></center>-->
                    <center><h3>What is the cost of this course?</h3></center>
                    <p align="center">
                        A small administrative fee of NAD220.00 per day will be required. This amount shall cover venue hire, snacks and internet
                        to be used during the course.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                    <!-- <center><i class="ion-ios-bookmarks"></i></center>-->
                    <center><h3>What material do i need to take part?</h3></center>
                    <p align="center">
                       
                        The course is practical in nature, therefore you will need a laptop with either Visual Studio, Monodevelop or SharpDevelop installed.
                     </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                     <!--<center><i class="ion-android-walk"></i></center>-->
                    <center><h3>Will I be graded at the end of the course?</h3></center>
                    <p align="center">
                        You will not be graded at the end of the course, but the knowledge you will gain and the practical
                        assessment you will receive will definitely make your understanding of C# more solid. All you need is to attend and
                        and be fully devoted.

                        <!--The course will be fully interactive and will encourage team work. However, your indivisual participation in answering
                questions posed by the facilotators will help build your confidence and understanding of the concepts to be taught.
                 Even though you will not be graded on course conclusion, it will help you to participate in all exercises and ask
                 many questions to be certain you fully understand what is being taught.

                This course will be an interactive proces that require quick and intuitive responses in team based environments.
                You only need to register <a href="#">here </a>before the deadline.-->
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                    <!-- <center><i class="ion-fork-repo"></i></center>-->
                    <center><h3>How will the course be administered?</h3></center>
                    <p align="center">
                        The course will encourage a lot of team work as well as individual commitment. Participants are encouraged
                        to come prepared to mix, mingle and share thoughts with each other. The facilitators will guide the participants
                        and their groups throughout.
                        <!--
                     All individuals that take on this course will need the thrive to succeed not only with regards to this course but to life in general.
                -->
                    </p>
                </div>
            </div>
           <!--<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-android-contacts"></i></center>
                    <center><h3>Social Skills</h3></center>
                    <p align="center">
                        All participants are required to be at ease with group participation, seeing to the fact that all work will be completed in groups.
                    </p>
                </div>
            </div>--> 
            <!-- <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8  col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                    <center><i class="ion-laptop"></i></center>
                    <center><h3>Technology to Thrive</h3></center>
                    <p align="center">
                        All participants will be required to bring thier own laptops to the venue for the duration of the course.
                    </p>
                </div>
            </div>-->
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-offset-2">
                <div class="requirements-wrapper">
                   <!-- <center><i class="ion-cash"></i></center>-->
                    <center><h3>What is the cost of this course?</h3></center>
                    <p align="center">
                        A small administrative fee of NAD220.00 per day will be required. This amount shall cover venue hire, snacks and internet
                        to be used during the course.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--REQUIREMENTS SECTION END-->
<!--WORK SECTION START-->
<!--
<section id="work">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Our Works</h3>
                <hr />
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="caegories">
                    <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>
                    <a href="#" data-filter=".html" class="btn btn-custom btn-custom-two btn-sm">HTML</a>
                    <a href="#" data-filter=".css" class="btn btn-custom btn-custom-two btn-sm">CSS</a>
                    <a href="#" data-filter=".code" class="btn btn-custom btn-custom-two btn-sm">CODE</a>
                    <a href="#" data-filter=".script" class="btn btn-custom btn-custom-two btn-sm">SCRIPT</a>
                </div>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/1.jpg">

                        <img src="assets/img/portfolio/1.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html css">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/2.jpg">

                        <img src="assets/img/portfolio/2.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 code script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/3.jpg">

                        <img src="assets/img/portfolio/3.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/4.jpg">

                        <img src="assets/img/portfolio/4.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/5.jpg">

                        <img src="assets/img/portfolio/5.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/6.jpg">

                        <img src="assets/img/portfolio/6.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--WORK SECTION END-->
-->
<!--PRICING SECTION START-->
<section id="pricing">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Pricing Options</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row db-padding-btm db-attached">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing ">
                            <div class="price">
                                <sup>N$</sup>250
                                <small>ONE DAY</small>
                            </div>
                            <div class="type">
                                Beginner
                            </div>
                            <ul>

                                <li><i class="ion-arrow-right-a"></i>Introduction to programming </li>
                                <li><i class="ion-arrow-right-a"></i>Practical Implimentations of C# Features </li>
                                <li><i class="ion-plus"></i> More Information in Day One Overview </li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing">
                            <div class="price">
                                <sup>N$</sup>500
                                <small>TWO DAYS</small>
                            </div>
                            <div class="type">
                                MEDIUM
                            </div>
                            <ul>

                                <li><i class="ion-arrow-right-a"></i> Practical Implimentations ... Continued </li>
                                <li><i class="ion-arrow-right-a"></i> Final Course Project Completion </li>
                                <li><i class="ion-plus"></i> More Information in Day Two Overview </li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing popular">
                            <div class="price">
                                <sup>N$</sup>600
                                <small>THREE DAYS</small>
                            </div>
                            <div class="type">
                                ADVANCED
                            </div>
                            <ul>

                                <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                                <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                                <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--PRICING SECTION END-->

<!--TEAM SECTION START-->
<section id="team">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Team Members </h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/1.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Donovan Maasz</h3>
                        <h5> <strong> Systems designer, developer & engineer </strong></h5>
                        <p>
                            Holder of a Bachelors degree in Software engineering.
                            Several projects as an individual and as part of a team
                            *List of projects*
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/2.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Michael Chamunorwa</h3>
                        <h5> <strong> Systems designer, developer & engineer </strong></h5>
                        <p>
                            Holder of a Bachelors degree in Software engineering.
                            Several projects as an individual and as part of a team
                            *List of projects*
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/3.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/4.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM SECTION END-->
<!--GRID SECTION START-->
<section id="overview1">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>DAY ONE & TWO OVERVIEW </h3>
                <hr />

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="border-right: 2px solid rgb(228, 79, 79); ">
                <div class="row animate-in" data-anim-type="fade-in-up">

                    <div class="row animate-in" data-anim-type="fade-in-up">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <center><h2>Day One</h2></center>
                            <p align="center">
                                All activities and exercises on day one are carried out with the
                                 assumption is that you have <strong>NEVER</strong> done programming before in your life.
                                Those who have done C# programming but are still struggling to understand it are welcome as well.
                            </p>

                        </div>
                    </div>

                    <div class="row animate-in" data-anim-type="fade-in-up">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                            <div class="overview-wrapper">
                                <center><i class="ion-settings"></i></center>
                                <center><h3>Requirements</h3></center>
                                <p align="center">
                                    Laptop with Visual Studio, MonoDevelop (for the Linux savvy bunch) or OpenSharp develop installed. Thirst for knowledge and an open mind.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <center><h3>1. Introduction to Programming</h3></center>
                        <p align="center">
                            <i>Ever wondered what programming is and what the benefits are?</i>
                        </p>
                        <p align="justify">
                            This section will formally introduce what programming is about, it's applicatons and all the theoretical considerations
                            important for one to have a solid foundation in the art of programming.</p>

                    </div>
                </div>

                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <center><h3>2. Practical Implementation of Theoretical Aspects</h3></center>

                        <p align="justify">
                            Building up from the first section, participants will now put the theories they learnt into practice.
                            Participants will be introduced to C# console applications.
                            All practical examples and tasks from here onwards are going to be based on console applications. 
                        </p>

                        <ul>
                            <li> Introduction to C# Console Applications </li>
                            <li> C# Libraries and their functions e.g. System libraries used to capture user input and handle output </li>
                            <li> C# Variables and Data types </li>
                            <li> C# types of errors, exceptions and Exception handling </li>
                            <li> C# control statements (if, else, case) </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <center><h2>Day Two</h2></center>
                        <p align="center">
                            Participants must have successfully completed the procedings of
                            day 1 including the practical project for them to understand all the work in Day 2. Day 2 simply builds up on
                            work from day 1.
                        </p>
                        <br />
                    </div>
                </div>

                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
                        <div class="overview-wrapper">
                            <center><i class="ion-settings"></i></center>
                            <center><h3>Requirements</h3></center>
                            <p align="center">
                                Laptop with Visual Studio, MonoDevelop (for the Linux savvy bunch) or OpenSharp develop installed. Thirst for knowledge and an open mind.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <center><h3>3. Practical Implementations (Continued from Day 1)</h3></center>
                        
                        <p align="justify">
                            This section of the program will continue where Session 2 on Day 1 stoped, 
                            by completing the implementation of the last few practical aspects of console based programs as listed below.
                        </p>
                        <ul>
                            <li> C# Loops and Repetition (For Loop, Do Loop, While Loop) </li>
                            <li> C# Arrays </li>
                            <li> C# Structures </li>
                            <li> C# Searching and Sorting </li>
                            <li> C# Saving Program Data Externally (Saving Information to Files - brief Introduction to Databases) </li>
                        </ul>

                    </div>
                </div>

                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <center><h3>4. Conclusion of the project and recap of topics covered</h3></center>
                    </div>
                </div>
            </div>
         </div>

    </div>
</section>
<!--GRID SECTION END-->
<!--CONTACT SECTION START-->
<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Contact Details </h3>
                <hr />

            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="contact-wrapper">
                    <h3>Via Social</h3>
                    <p>
                        Visit our Facebook page or Google plus for more event information.
                    </p>
                    <div class="social-below">
                        <a href="#" class="btn button-custom btn-custom-two"> Facebook</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Google +</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="contact-wrapper">
                    <h3>For any questions and requests, please contact us on the following:</h3>
                    <h4><strong>Email : </strong> maaszdonovan@gmail.com </h4>
                    <h4><strong>Call : </strong> +264810000000 </h4>
                    <h4><strong>Email : </strong> chamunorwamichael@gmail.com </h4>
                    <h4><strong>Call : </strong> +264810000000 </h4>
                </div>

            </div>
           <!-- <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Address : </h3>
                    <h4>230/45 , New way Lane , </h4>
                    <h4>United States</h4>
                    <div class="footer-div">
                        &copy; 2015 YourDomain | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrp</a>
                    </div>
                </div>

            </div>

        </div>-->


    </div></div>
</section>
<!--CONTACT SECTION END-->
