

<!--HOME SECTION START-->
<div id="home">
    
    <br />
    <br />
    <br />

    <div class="row">
        <img src="~/assets/img/MT-Solutions%20Logo.png" class="col-md-4 col-md-offset-4" />
    </div>

    <div class="container">
        <div class="row custom-div-row-top">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">

                    <div class="carousel-inner">
                        <div class="item active">

                            <h3>
                                CODING BOOTCAMP / CRASH COURSE
                            </h3>
                            <p>
                                Are you struggling with computer programming?

                                <br />

                                Do you have an interest in programming but you are not sure where or how to begin?
                            </p>
                        </div>
                        <div class="item">
                            <h3>
                                THEN THIS COURSE SHOULD INTEREST YOU
                            </h3>
                            <p>
                                We are inviting you to a three session coding course that will teach you about the fundamentals of programming using C#.
                            </p>
                        </div>

                    </div>


                </div>


            </div>
        </div>
        <div class="row animate-in custom-div-row-bottom" data-anim-type="fade-in-up">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">


                <p>
                    ANYONE IS WELCOME TO JOIN THE COURSE!

                    <br />

                    KEEPING IN MIND THE LIMITED NUMBER OF PLACES AVAILABLE!

                </p>
                <div class="social">
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-facebook "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-google-plus "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-linkedin "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-pinterest "></i></a>
                    <a href="#" class="btn button-custom btn-custom-one"><i class="fa fa-github "></i></a>
                </div>
                <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>
            </div>
        </div>
    </div>

</div>
<!--HOME SECTION END-->
<!--REQUIREMENTS SECTION START-->
<section id="requirements">
    <div class="container">
        <div class="row text-center header">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                <h3>COURSE REQUIREMENTS</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-ios-bookmarks"></i></center>
                    <center><h3>Initiative to Learn</h3></center>
                    <p align="center">
                        All individuals need the power to take in new knowledge and impliment 
                        it into practical examples.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-android-walk"></i></center>
                    <center><h3>Will to Participate</h3></center>
                    <p align="center">
                        This course will be an interactive proces that require quick and intuitive responses in team based environments.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-fork-repo"></i></center>
                    <center><h3>Strength to Succeed</h3></center>
                    <p align="center">
                        All individuals that take on this course will need the thrive to succeed not only with regards to this course but to life in general.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-android-contacts"></i></center>
                    <center><h3>Social Skills</h3></center>
                    <p align="center">
                        All participants are required to be at ease with group participation, seeing to the fact that all work will be completed in groups.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-laptop"></i></center>
                    <center><h3>Technology to Thrive</h3></center>
                    <p align="center">
                        All participants will be required to bring thier own laptops to the venue for the duration of the course.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="requirements-wrapper">
                    <center><i class="ion-cash"></i></center>
                    <center><h3>Money to Pay</h3></center>
                    <p align="center">
                        All participants will be required to pay an administrative fee as described in the section below.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--REQUIREMENTS SECTION END-->
<!--WORK SECTION START-->
<section id="work">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Our Works</h3>
                <hr />
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                <div class="caegories">
                    <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>
                    <a href="#" data-filter=".html" class="btn btn-custom btn-custom-two btn-sm">HTML</a>
                    <a href="#" data-filter=".css" class="btn btn-custom btn-custom-two btn-sm">CSS</a>
                    <a href="#" data-filter=".code" class="btn btn-custom btn-custom-two btn-sm">CODE</a>
                    <a href="#" data-filter=".script" class="btn btn-custom btn-custom-two btn-sm">SCRIPT</a>
                </div>
            </div>
        </div>
        <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/1.jpg">

                        <img src="assets/img/portfolio/1.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html css">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/2.jpg">

                        <img src="assets/img/portfolio/2.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 code script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/3.jpg">

                        <img src="assets/img/portfolio/3.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/4.jpg">

                        <img src="assets/img/portfolio/4.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 html code">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/5.jpg">

                        <img src="assets/img/portfolio/5.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 script">
                <div class="work-wrapper">

                    <a class="fancybox-media" title="Image Title Goes Here" href="assets/img/portfolio/6.jpg">

                        <img src="assets/img/portfolio/6.jpg" class="img-responsive img-rounded" alt="" />
                    </a>

                    <h4>Morbi mollis lectus et ipsum</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--WORK SECTION END-->

<!--PRICING SECTION START-->
<section id="pricing">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Pricing Options</h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                <div class="row db-padding-btm db-attached">

                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing ">
                            <div class="price">
                                <sup>N$</sup>250
                                <small>ONE DAY</small>
                            </div>
                            <div class="type">
                                Beginner
                            </div>
                            <ul>

                                <li><i class="ion-arrow-right-a"></i>Introduction to programming </li>
                                <li><i class="ion-arrow-right-a"></i>Practical Implimentations of C# Features </li>
                                <li><i class="ion-plus"></i> More Information in Day One Overview </li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing">
                            <div class="price">
                                <sup>N$</sup>500
                                <small>TWO DAYS</small>
                            </div>
                            <div class="type">
                                MEDIUM
                            </div>
                            <ul>

                                <li><i class="ion-arrow-right-a"></i> Practical Implimentations ... Continued </li>
                                <li><i class="ion-arrow-right-a"></i> Final Course Project Completion </li>
                                <li><i class="ion-plus"></i> More Information in Day Two Overview </li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="light-pricing popular">
                            <div class="price">
                                <sup>N$</sup>600
                                <small>THREE DAYS</small>
                            </div>
                            <div class="type">
                                ADVANCED
                            </div>
                            <ul>

                                <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                                <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                                <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                            </ul>
                            <div class="pricing-footer">

                                <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--PRICING SECTION END-->

<!--TEAM SECTION START-->
<section id="team">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Team Members </h3>
                <hr />
            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/1.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/2.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/3.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="team-wrapper">
                    <div class="team-inner" style="background-image: url('assets/img/team/4.jpg')">
                        <a href="#" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="description">
                        <h3> Leomarid Jona</h3>
                        <h5> <strong> Developer & Designer </strong></h5>
                        <p>
                            Pellentesque elementum dapibus convallis.
                            Vivamus eget finibus massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TEAM SECTION END-->
<!--GRID SECTION START-->
<section id="overview1">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>DAY ONE OVERVIEW </h3>
                <hr />

            </div>
        </div>
        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="row animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <center><h2>LEVEL: BEGINER</h2></center>
                    <p align="center">
                        Minimum skill level is required, the assumption is that you have NEVER done programming before in your life.
                        Those who have done C# programming but are still struggling are welcome as well.
                    </p>

                </div>
            </div>

            <div class="row animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                    <div class="overview-wrapper">
                        <center><i class="ion-settings"></i></center>
                        <center><h3>Technical Requirements</h3></center>
                        <p align="center">
                            Laptop with Visual Studio, MonoDevelop (for the Linux Gents) or OpenSharp develop installed. Thirst for knowledge and an open mind.
                        </p>
                    </div>
                </div>
            </div>


        </div>
        @*<div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h3>1. Introduction to programming</h3>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h4>2. Practical Implementation of Theoretical Aspects</h4>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h2>1/4 Section</h2>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
        </div>*@
        @*<div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <center><h3>1. Introduction to Programming</h3></center>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <center><h3>2. Practical Implementation of Theoretical Aspects</h3></center>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <h3>1/3 Section</h3>
                <p>
                    Morbi mollis lectus et ipsum sollicitudin varius.
                    Aliquam tempus ante placerat,
                    consectetur tellus nec, porttitor nulla.
                </p>

            </div>

        </div>*@
        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <center><h3>1. Introduction to Programming</h3></center>
                <p align="center">
                    Ever wondered what programming is and what the benefits are?
                </p>
                <p align="justify">
                    This section of the program will kick the course into motion. It will be started with a presentation on the
                    meaning of programming and what it means to be a programmer. The presentation will cover most aspect on the theoretical domains of programming.
                </p>

            </div>
        </div>

        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                <center><h3>2. Practical Implementation of Theoretical Aspects</h3></center>

                <p align="justify">
                    This agenda point will be kick started with in depth presentation on console based applications and what the benefits of console based applications are in the real world.
                    The presentation will conslude with the complete understanding of what participants are trying to achieve with console based applications.
                </p>

                <ul>
                    <li> Introduction to C# Console Applications </li>
                    <li> C# Libraries and their functions e.g. System libraries used to capture user input and handle output </li>
                    <li> C# Variables and Data types </li>
                    <li> C# types of errors, exceptions and Exception handling </li>
                    <li> C# control statements (if, else, case) </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!--GRID SECTION END-->
<!--CONTACT SECTION START-->
<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <h3>Contact Details </h3>
                <hr />

            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>We Are Social</h3>
                    <p>
                        Aliquam tempus ante placerat,
                        consectetur tellus nec, porttitor nulla.
                    </p>
                    <div class="social-below">
                        <a href="#" class="btn button-custom btn-custom-two"> Facebook</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Twitter</a>
                        <a href="#" class="btn button-custom btn-custom-two"> Google +</a>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Quick Contact</h3>
                    <h4><strong>Email : </strong> info@yuordomain.com </h4>
                    <h4><strong>Call : </strong> +09-88-99-77-55 </h4>
                    <h4><strong>Skype : </strong> Yujhaeu78 </h4>
                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Address : </h3>
                    <h4>230/45 , New way Lane , </h4>
                    <h4>United States</h4>
                    <div class="footer-div">
                        &copy; 2015 YourDomain | <a href="http://www.designbootstrap.com/" target="_blank">by DesignBootstrp</a>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>
<!--CONTACT SECTION END-->
